.block {
    position: fixed;
    left: 0;
    right: 50%;
    bottom: 0;
    top: 0;
    padding: var(--content-padding);
    display: flex;
    align-items: center;
}

.content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-row-gap: 28px;
    grid-column-gap: 48px;
}

.avatarWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact {
    margin-top: 4px;
    font-size: 14px;
    text-align: right;
    color: var(--text-color-darker);
}

.contact h3 {
    margin: 16px 0 8px;
}

.header {
}

.title {
    margin: 8px 0 20px;
    font-size: 24px;
    line-height: 1;
}

.position {
    font-size: 34px;
    line-height: 1.2;
    margin: 0;
    background: -webkit-linear-gradient(-70deg, var(--accent-pink) 0%, var(--accent-purple) 100%);
    /*background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);*/
    /*background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);*/
    /*background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.agenda {
    font-size: 26px;
    margin: 0;
}

.about {
    display: flex;
}

.passion {
    font-size: 18px;
    max-width: 320px;
}

.passion p {
    margin: 0 0 16px;
}

.passion p:last-child {
    margin: 0;
}