.layout {
    padding: 0 var(--content-padding);
}

.main {
    position: relative;
    z-index: 1;
}


.content {
    margin-left: 50%;
    padding: calc(var(--content-padding) * 3) calc(var(--content-padding) * 2);
}